<%- include('../layouts/admin/dashboard.ejs')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
    <style>
        .theme-white .page-item.active .page-link {
    color: #fff;
    background-color: #c96;
    border-color: #c96;
}
.theme-white .page-item .page-link {
    color: #c96;
}
.theme-white .page-item.disabled .page-link {
    color: rgba(204, 153, 102, 0.65);
}
.selectgroup-input-radio:focus+.selectgroup-button, .selectgroup-input-radio:checked+.selectgroup-button {
    background-color: #cb902278 !important;
    color: #fff;
    z-index: 1;
}
        .buttons-copy:hover{
            background-color: #e0b733 !important;
        }
        .buttons-pdf:hover{
            background-color: #e91e63 !important;
        }
        .buttons-csv:hover{
            background-color: #2ab9d0 !important;
        }
        .buttons-excel:hover{
            background-color: #59bf70  !important;
        }
        .buttons-print:hover{
            background-color: #6563ef !important;
        }
        .perc-color {
            background-color: #c96 !important;
        }
        .buttons-excel{
            background: #cb902278 !important;
        }
        .buttons-pdf{
            background: #cb902278 !important;
        }
        .buttons-csv{
            background: #cb902278 !important;

        }
        .buttons-copy{
            background: #cb902278 !important;

        }
        .buttons-print{
            background:#cb902278 !important;

        }
        .salesFont{
            color: #e7e3e3;
        }
        .salesIcon{
            font-size: 4em;
        }
        .salesCard {
            width: 140px;
            height: 140px;
            padding: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .salesConatiner{
            background: linear-gradient(135deg, rgba(181, 114, 46, 0.787) 60%, #cac5c569 50%) !important;
        }
        .rounded-circle {
            height: 32px !important;
            width: 32px !important;
        }

        .form-control {
            width: 21em !important;
            border-radius: 20px;
            border-color: #c96;
            padding: 0px 10px;
            font-size: 13px;
            margin-right: 2em;
        }

        .btn-group {
            display: flex;
            padding: 16px 3px;
        }
        .my-btn{
            border: none;
            background-color: #cb902278;
            color: white;
            border-radius: 5px;
        }

        .dataTables_filter {
            text-align: center !important;
        }

        .table .order-list li+li {
            margin-left: -8px;
            background: transparent;
        }
        .shodaowHigh {
            margin-bottom: 75px;
    box-shadow: 0 0.46875rem 2.1875rem rgb(23 27 32 / 66%), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
.card:last-child {
    border-bottom: .1rem solid #cac5c569;
}
    </style>
    <main class="main">

        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div class="ml-5 mr-5">
            <div style="background-color: rgb(170 125 49 / 42%); position: absolute; top: 68px; left: 0; right: 0; bottom: 0; height: 218px;">
            </div>
            <div class="row justify-content-center align-items-center">
                <a href="#" onclick="dashboard()">
                    <div class="col-1">
                        <div class="card shodaowHigh card-statistic-1">
                            <div class="my-card-icon " style=" padding-left: 1em;margin: 0;">
                                <i class="fas fa-arrow-left" style="padding-right: .5em;color: #c96;"></i>
                                <i class="fas fa-home" style="color: #c96;"></i>
                            </div>
                        </div>
                </a>
            </div>
            <div class="row col-10">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card shodaowHigh salesConatiner">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h1 class="salesFont">Count</h1>
                                            <h2 class="mb-3 font-18 salesFont">
                                                <%=orders.length%>
                                            </h2>
                                            <p class="mb-0 salesFont"><span class="col-green">10%</span> Increase</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="/admin/asset/img/banner/1.png" alt="">
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card shodaowHigh salesConatiner">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h1 class="salesFont">Sales</h1>
                                            <h2 class="mb-3 font-18 salesFont">
                                                <%let sales=orders.reduce((acc,cur)=>acc += cur.grandTotalPrice,0)%>
                                                ₹ <%=sales%>
                                            </h2>
                                            <p class="mb-0 salesFont"><span class="col-green">42%</span> Increase</p>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="/admin/asset/img/banner/2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card shodaowHigh salesConatiner">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h1 class="salesFont">Expanse</h1>
                                            <%let totalCost=0; for(let i=0 ; i < orders.length ; i++){
                                                orders[i].product.forEach(product=>{
                                                if(product.productDetails.status == 'delivered'){
                                                totalCost += product.productDetails.productCost*product.quantity
                                                } })} %>
                                                <h2 class="mb-3 salesFont">
                                                    ₹ <%=totalCost%>
                                                </h2>
                                                <p class="mb-0 salesFont"><span class="col-green">18%</span>
                                                    Increase</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="/admin/asset/img/banner/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <div class="card shodaowHigh salesConatiner">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h1 class="salesFont">Revenue</h1>
                                            <% let arr=[] ; const users=orders.forEach(order=>{

                                                arr.push(order.userId)
                                                })
                                                const count = [ ... new Set(arr)]
                                                console.log(count.length);
                                                %>
                                                <h2 class="mb-3 font-18 salesFont">
                                                    ₹ <%=sales-totalCost%>
                                                </h2>
                                                <p class="mb-0 salesFont"><span class="col-orange">09%</span> Decrease</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="/admin/asset/img/banner/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row col-12">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="border-bottom-color: #c96;">
                            <h4>Sales Report</h4>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center justify-content-center">
                                <div class="row col-5 justify-content-around">
                                    <div class="selectgroup w-100">
                                        <label class="selectgroup-item">
                                          <input type="radio" name="radio1" value="all" class="selectgroup-input-radio" <%= val=='all' ? 'checked': '' %>>
                                          <span class="selectgroup-button">All</span>
                                        </label>
                                        <label class="selectgroup-item">
                                          <input type="radio" name="radio1" value="day" class="selectgroup-input-radio" <%= val=='day' ? 'checked': '' %>>
                                          <span class="selectgroup-button">Day</span>
                                        </label>
                                        <label class="selectgroup-item">
                                          <input type="radio" name="radio1" value="week" class="selectgroup-input-radio" <%= val=='week' ? 'checked': '' %>>
                                          <span class="selectgroup-button">Week</span>
                                        </label>
                                        <label class="selectgroup-item">
                                          <input type="radio" name="radio1" value="month" class="selectgroup-input-radio" <%= val=='month' ? 'checked': '' %>>
                                          <span class="selectgroup-button">Month</span>
                                        </label>
                                      </div>
                                </div>
                                <div class="row align-items-center col-7 justify-content-end">
                                   <div class="d-flex col-5 align-items-center"> <p class="mb-0 mr-2">From</p><input type="date" class="form-control m-0 " style="height: 0;" id="startDate"></div>
                                   <div class="d-flex col-5 align-items-center"> <p class="mb-0 mr-2">To</p><input type="date" class="form-control m-0 " style="height: 0;" id="endDate"></div>
                                   <button class="my-btn" onclick="customFilter()">submit</button>
                                   
                                </div>

                            </div>

                            <div class="table-responsive">

                                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">

                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th style="width: 10em;">Products</th>
                                            <th>Payment</th>
                                            <th style="width: 15em;">Discount</th>
                                            <th style="width: 15em;">Price</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% orders.forEach(order=> { %>
                                            <tr>
                                                <% let totalOldPrice=0; order.product.forEach(item=> { if
                                                    (item.productDetails.status == 'delivered') { totalOldPrice +=
                                                    item.productDetails.productPrices.priceBefore * item.quantity; } });
                                                    %>
                                                    <td>
                                                        order id : <%= order.userId %> <br>
                                                            user id : <%= order.userId %>
                                                    </td>
                                                    <% const dateObject=new Date(order.createdAt); const options={
                                                        weekday: 'short' , year: 'numeric' , month: 'short' ,
                                                        day: '2-digit' }; const
                                                        formattedDate=dateObject.toLocaleDateString('en-US', options);
                                                        %>
                                                        <td>
                                                            <%= formattedDate %>
                                                        </td>

                                                        <td class="text-truncat">

                                                            <ul class="list-unstyled order-list m-b-0 m-b-0 d-flex">
                                                                <% order.product.forEach(product=> { if
                                                                    (product.productDetails.status != 'cancelled') { %>
                                                                    <li class="team-member team-member-sm">
                                                                        <a
                                                                            href="/admin/productDetails?id=<%= product.productDetails._id %>">
                                                                            <img class="rounded-circle"
                                                                                src="<%= product.productDetails.productImage[0] %>"
                                                                                alt="user" data-toggle="tooltip"
                                                                                title=""
                                                                                data-original-title="<%= product.productDetails.productTags[0] %>">
                                                                        </a>
                                                                    </li>
                                                                    <% } }) %>
                                                                        <div class="badge text-success"
                                                                            style="margin-left: auto;">
                                                                            <%= order.status %>
                                                                        </div>
                                                            </ul>


                                                        </td>


                                                        <td>
                                                            payment method : <%= order.payment.paymentMethod %> <br>
                                                                shipping charge :<%= order.shippingCharge.shippingCharge
                                                                    %>
                                                        </td>

                                                        <td>
                                                            product discount :<%= (100 -
                                                                order.totalPrice/(totalOldPrice/100)).toFixed(1) %>%
                                                                <br>
                                                                coupon discount :<%= order.appliedCoupon.couponDiscount
                                                                    %>rs <br>
                                                                    <h5>total discount :<%= parseFloat((100 -
                                                                            (order.grandTotalPrice -
                                                                            (order.shippingCharge.shippingCharge)) /
                                                                            (totalOldPrice / 100)).toFixed(1)) %>%
                                                                    </h5>
                                                        </td>



                                                        <td>
                                                            total price :<%= totalOldPrice %> <br>
                                                                offerred price :<%= order.totalPrice %> <br>
                                                                    <h5>grand total price :<%= order.grandTotalPrice %>
                                                                    </h5>

                                                        </td>


                                            </tr>
                                            <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            







        </div>



    </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->





    <script>
        function customFilter(){
            const startDate = document.getElementById('startDate').value
            const endDate = document.getElementById('endDate').value
            if(startDate && endDate){
                if (startDate <= endDate) {
                    window.location.href = '/admin/sales?start='+startDate+'&&end='+endDate
                }else{
                Swal.fire("Starting date should be greater than end date !");
                }
            }else{
                Swal.fire("Enter both dates !");
            }
        }
  document.querySelectorAll('.selectgroup-input-radio').forEach((radio) => {
    radio.addEventListener('change', function() {
      if (this.checked) {
        console.log('Selected value:', this.value);
        const val = this.value
        if(val == 'all'){
            window.location.href = '/admin/sales'
        }else{
            window.location.href = '/admin/sales?id='+val
        }

      }
    });
  });
        document.getElementById('downloadExcel').addEventListener('click', function () {
            window.location.href = '/admin/download-excel';
        });
        document.getElementById('downloadPDF').addEventListener('click', function () {
            window.location.href = '/admin/download-pdf';
        });
        function dashboard() {
                window.location.href = '/admin/dashboard'
            }
    </script>



    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    </body>



    <!-- <script src="/admin/asset/js/app.min.js"></script>
  <script src="/admin/asset/js/scripts.js"></script> -->
    <script src="/admin/asset/js/app.min.js"></script>
    <script src="/admin/asset/bundles/datatables/datatables.min.js"></script>
    <script src="/admin/asset/js/page/datatables.js"></script>
    <script src="/admin/asset/js/scripts.js"></script>
    <script src="/admin/asset/js/custom.js"></script>

    </html>
    