<%- include('../layouts/user/header.ejs')%>
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div style="display: flex;justify-content: space-between;">
                        <div class="summary-shipping-estimate">
                            <td>Estimate for Your Country <a href="/address">Change address </a>?</td>
                            <td>&nbsp;</td>
                        </div><!-- End .summary-shipping-estimate -->
                        <div style="width: 50%;">

                            <style>
                                .coupon-list {
                                    list-style: none;
                                    padding: 0;
                                    max-width: 400px;
                                }

                                .coupon-item {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 10px;
                                    border: 1px solid #ddd;
                                    margin-bottom: 5px;
                                }

                                .copy-btn {
                                    background-color: #ffb700cb;
                                    color: white;
                                    border: none;
                                    padding: 5px 10px;
                                    cursor: pointer;
                                    border-radius: 10px;
                                }

                                .copy-btn:hover {
                                    background-color: #0057b3d3;
                                }
                            </style>
                            <div class="checkout-discount" style="width: 100%; margin-left: 1em;">
                                <form id="apply-coupon-form">
                                    <input type="text" class="form-control" required id="checkout-discount-input">
                                    <label for="checkout-discount-input" class="text-truncate">Have a coupon or
                                        refferral code?
                                        <span>Click here
                                            to enter your code</span></label>
                                </form>
                            </div><!-- End .checkout-discount -->

                        </div>

                    </div>
                    <!-- <form action="/proceedCheckout" method="post"> -->
                    <form id="checkoutForm" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <%if(typeof userAddress=='undefined' ){%>
                                    <div class="row">
                                        <input type="hidden" name="id">
                                        <div class="col-sm-6">
                                            <label>First Name *</label>
                                            <input type="text" class="form-control" name="firstName" required>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Last Name *</label>
                                            <input type="text" class="form-control" name="lastName" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Country *</label>
                                            <select id="size" class="form-control" name="country">
                                                <option selected="selected">India</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">

                                            <label>State *</label>
                                            <select id="size" class="form-control" name="state">

                                                <option>Maharashtra</option>
                                                <option>Bihar
                                                </option>
                                                <option>Andhra Pradesh
                                                </option>
                                                <option>Punjab</option>
                                                <option>Assam
                                                </option>
                                                <option>Chattisgarh</option>
                                                <option>Mizoram</option>
                                                <option>Karnataka</option>
                                                <option>West Bengal</option>
                                                <option>Goa
                                                </option>
                                                <option>Gujarat</option>
                                                <option>Arunachal
                                                    Pradesh</option>
                                                <option>Maipur</option>
                                                <option>Haryana</option>
                                                <option>Himachal
                                                    Pradesh</option>
                                                <option>Rajasthan</option>
                                                <option>Telangana</option>
                                                <option>Madhya Pradesh
                                                </option>
                                                <option>Odisha</option>
                                                <option>Nagaland</option>
                                                <option>Tamil Nadu</option>
                                                <option selected>Kerala</option>
                                                <option>Uttar Pradesh
                                                </option>
                                                <option>Meghalaya</option>
                                                <option>Jarkhand</option>
                                                <option>Tripura</option>
                                                <option>Sikkim</option>
                                                <option>Delhi
                                                </option>
                                                <option>Uttarakhand</option>
                                                <option>Jammu & Kashmir
                                                </option>

                                            </select>

                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <label>Pin Code *</label>
                                            <input type="number" class="form-control" name="pinCode" required>

                                        </div>
                                        <div class="col-sm-6">

                                            <label>City *</label>
                                            <input type="text" class="form-control" name="city" required>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>District *</label>
                                            <input type="text" class="form-control" name="district" required>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Place *</label>
                                            <input type="text" class="form-control" name="place" required>
                                        </div>
                                    </div>
                                    <label>Adress *</label>
                                    <textarea id="address" class="form-control" style="min-height: 12em;"
                                        name="address">
                                    </textarea>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Mobile *</label>
                                            <input type="number" id="mobile" name="mobile" class="form-control"
                                                required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>Mobile *</label>
                                            <input type="number" class="form-control" name="mobile2" value="#mobile">
                                        </div>
                                    </div>

                                    <label>LandMark</label>
                                    <input type="text" class="form-control mb-2" name="landMark">

                                    <label>Email</label>
                                    <input type="text" class="form-control mb-2" name="email" value="" required>
                                    <p>( This email is taken as to send order details )</p>
                                    <%}else{%>
                                        <div class="row">
                                            <input type="hidden" value="<%=userAddress._id%>" name="id">
                                            <div class="col-sm-6">
                                                <label>First Name *</label>
                                                <input type="text" class="form-control" name="firstName"
                                                    value="<%=userAddress.firstName%>" required>
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Last Name *</label>
                                                <input type="text" class="form-control" name="lastName"
                                                    value="<%=userAddress.lastName%>" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Country *</label>
                                                <select id="size" class="form-control" name="country">
                                                    <option selected="selected">India</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">

                                                <label>State *</label>
                                                <select id="size" class="form-control" name="state">

                                                    <option <%=userAddress.state==='Maharashtra' ? 'selected' : '' %>
                                                        >Maharashtra</option>
                                                    <option <%=userAddress.state==='Bihar' ? 'selected' : '' %>>Bihar
                                                    </option>
                                                    <option <%=userAddress.state==='Andhra Pradesh' ? 'selected' : '' %>
                                                        >Andhra Pradesh
                                                    </option>
                                                    <option <%=userAddress.state==='Punjab' ? 'selected' : '' %>
                                                        >Punjab</option>
                                                    <option <%=userAddress.state==='Assam' ? 'selected' : '' %>>Assam
                                                    </option>
                                                    <option <%=userAddress.state==='Chattisgarh' ? 'selected' : '' %>
                                                        >Chattisgarh</option>
                                                    <option <%=userAddress.state==='Mizoram' ? 'selected' : '' %>
                                                        >Mizoram</option>
                                                    <option <%=userAddress.state==='Karnataka' ? 'selected' : '' %>
                                                        >Karnataka</option>
                                                    <option <%=userAddress.state==='WestBengal' ? 'selected' : '' %>
                                                        >West Bengal</option>
                                                    <option <%=userAddress.state==='Goa' ? 'selected' : '' %>>Goa
                                                    </option>
                                                    <option <%=userAddress.state==='Gujarat' ? 'selected' : '' %>
                                                        >Gujarat</option>
                                                    <option <%=userAddress.state==='Arunachal Pradesh' ? 'selected' : ''
                                                        %>>Arunachal
                                                        Pradesh</option>
                                                    <option <%=userAddress.state==='Maipur' ? 'selected' : '' %>
                                                        >Maipur</option>
                                                    <option <%=userAddress.state==='Haryana' ? 'selected' : '' %>
                                                        >Haryana</option>
                                                    <option <%=userAddress.state==='Himachal Pradesh' ? 'selected' : ''
                                                        %>>Himachal
                                                        Pradesh</option>
                                                    <option <%=userAddress.state==='Rajasthan' ? 'selected' : '' %>
                                                        >Rajasthan</option>
                                                    <option <%=userAddress.state==='Telangana' ? 'selected' : '' %>
                                                        >Telangana</option>
                                                    <option <%=userAddress.state==='Madhya Pradesh' ? 'selected' : '' %>
                                                        >Madhya Pradesh
                                                    </option>
                                                    <option <%=userAddress.state==='Odisha' ? 'selected' : '' %>
                                                        >Odisha</option>
                                                    <option <%=userAddress.state==='Nagaland' ? 'selected' : '' %>
                                                        >Nagaland</option>
                                                    <option <%=userAddress.state==='Tamil Nadu' ? 'selected' : '' %>
                                                        >Tamil Nadu</option>
                                                    <option <%=userAddress.state==='Kerala' ? 'selected' : '' %>
                                                        >Kerala</option>
                                                    <option <%=userAddress.state==='Uttar Pradesh' ? 'selected' : '' %>
                                                        >Uttar Pradesh
                                                    </option>
                                                    <option <%=userAddress.state==='Meghalaya' ? 'selected' : '' %>
                                                        >Meghalaya</option>
                                                    <option <%=userAddress.state==='Jarkhand' ? 'selected' : '' %>
                                                        >Jarkhand</option>
                                                    <option <%=userAddress.state==='Tripura' ? 'selected' : '' %>
                                                        >Tripura</option>
                                                    <option <%=userAddress.state==='Sikkim' ? 'selected' : '' %>
                                                        >Sikkim</option>
                                                    <option <%=userAddress.state==='Delhi' ? 'selected' : '' %>>Delhi
                                                    </option>
                                                    <option <%=userAddress.state==='Uttarakhand' ? 'selected' : '' %>
                                                        >Uttarakhand</option>
                                                    <option <%=userAddress.state==='Jammu & Kashmir' ? 'selected' : ''
                                                        %>>Jammu & Kashmir
                                                    </option>

                                                </select>

                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">

                                                <label>Pin Code *</label>
                                                <input type="number" class="form-control" name="pinCode"
                                                    value="<%=userAddress.pinCode%>" required>

                                            </div>
                                            <div class="col-sm-6">

                                                <label>City *</label>
                                                <input type="text" class="form-control" name="city"
                                                    value="<%=userAddress.city%>" required>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>District *</label>
                                                <input type="text" class="form-control" name="district"
                                                    value="<%=userAddress.district%>" required>
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Place *</label>
                                                <input type="text" class="form-control" name="place"
                                                    value="<%=userAddress.place%>" required>
                                            </div>
                                        </div>
                                        <label>Adress *</label>
                                        <textarea id="address" class="form-control" style="min-height: 12em;"
                                            name="address"><%= userAddress.address %>
                                        </textarea>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Mobile *</label>
                                                <input type="number" id="mobile" name="mobile" class="form-control"
                                                    value="<%=userAddress.mobile%>" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Mobile *</label>
                                                <input type="number" class="form-control" name="mobile2"
                                                    value="<%=userAddress.mobile2%>" value="#mobile">
                                            </div>
                                        </div>

                                        <label>LandMark</label>
                                        <input type="text" class="form-control mb-2" name="landMark"
                                            value="<%=userAddress.landMark%>">

                                        <label>Email</label>
                                        <input type="text" class="form-control mb-2" name="email" value="" required>
                                        <p>( This email is taken as to send order details )</p>
                                        <%}%>
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-6">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                                    <div class="checkout">

                                        <input type="hidden" value="<%=userId%>" name="Id" id="Id">


                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% for(let i=0; i< carts.length ;i++){%>
                                                    <tr>
                                                        <td><a href="">
                                                                <%=carts[i].productDetails.productName%> (
                                                                    <%=carts[i].quantity%> )
                                                            </a></td>
                                                        <td>₹
                                                            <%=carts[i].productDetails.productPrices.priceAfter*carts[i].quantity%>
                                                        </td>
                                                    </tr>
                                                    <%}%>

                                                        <tr class="summary-subtotal">
                                                            <td>Subtotal:</td>
                                                            <td id="sub-total">₹ <%=totalPrice%>
                                                            </td>
                                                            <input id="totalPrice" type="hidden" value="<%=totalPrice%>"
                                                                name="totalPrice">
                                                        </tr><!-- End .summary-subtotal -->
                                                        <tr class="summary-total">


                                                        </tr>
                                                        <tr>
                                                            <td>Shipping:</td>
                                                            <td>
                                                                <%=shippingCharge%>
                                                            </td>
                                                        </tr>
                                                        <input type="hidden" name="shippingCharge"
                                                            value="<%=shippingCharge%>" id="shippingCharge">
                                                        <tr id="couponTR">
                                                            <td id="couponTDcoupon"><label for="checkout-discount-input"
                                                                    class="text-truncate">Have a coupon or refferral
                                                                    code?
                                                                    <span style="color: #c96;">Click here
                                                                        to enter your code</span></label></td>
                                                            <td id="couponTDprice"></td>
                                                        </tr>
                                                        <input type="hidden" name="couponCode" id="couponCode">
                                                        <tr class="summary-total">
                                                            <td>Total:</td>
                                                            <td id="grandTotalPrice">₹ <%=totalPrice+shippingCharge%>
                                                            </td>
                                                        </tr><!-- End .summary-total -->
                                                        <input id="grandTotalPriceInput" type="hidden"
                                                            value="<%=totalPrice+shippingCharge%>" name="grandTotalPrice">
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div class="card" style="margin-bottom: 1.2em;">
                                                <div class="card-header" id="heading-1">
                                                    <h2 class="card-title">
                                                        <input type="radio" role="button" data-toggle="collapse"
                                                            href="#collapse-1" aria-expanded="false"
                                                            aria-controls="collapse-1" value="cashOnDelivery"
                                                            name="paymentMethod" checked>
                                                        Cash on delivery

                                                        </input>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Make your payment directly into our bank account. Please use
                                                        your
                                                        Order ID as the payment reference. Your order will not be
                                                        shipped
                                                        until the funds have cleared in our account.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card" style="margin-bottom: 1.2em;">
                                                <div class="card-header">
                                                    <h2 class="card-title">
                                                        <input type="radio" class="collapsed" role="button"
                                                            data-toggle="collapse" href="#collapse-2"
                                                            aria-expanded="false" aria-controls="collapse-2"
                                                            value="checkPayment" name="paymentMethod" id="razorpay">
                                                        Razorpay
                                                        </input>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                        Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card" style="margin-bottom: 1.2em;">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <input type="radio" class="collapsed" role="button"
                                                            data-toggle="collapse" href="#collapse-3"
                                                            aria-expanded="false" aria-controls="collapse-3"
                                                            value="walletPayment" name="paymentMethod" id="wallet">
                                                        Wallet
                                                        </input>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Wallet Balance
                                                        <p id="walletBalance">
                                                            <%=wallet.walletBalance.toFixed(2)%>
                                                        </p>
                                                        <p id="walletAlert"></p>

                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->


                                        </div><!-- End .accordion -->

                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>
                    <h5>Available Coupons</h5>
                    <ul id="couponList" class="coupon-list">

                    </ul>
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->



    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const couponList = document.getElementById('couponList');


            fetch('/getCoupon')
                .then(response => response.json())
                .then(coupons => {
                    coupons.forEach(coupon => {
                        const listItem = document.createElement('li');
                        listItem.className = 'coupon-item';

                        const text = document.createElement('span');
                        text.textContent = `${coupon.couponDescription} - ${coupon.couponCode}`;

                        const copyButton = document.createElement('button');
                        copyButton.className = 'copy-btn';
                        copyButton.textContent = 'Copy';
                        copyButton.onclick = () => {
                            navigator.clipboard.writeText(coupon.couponCode).then(() => {

                                console.log('copied');
                            }).catch(err => {
                                console.error('Failed to copy coupon code:', err);
                            });
                        };

                        listItem.appendChild(text);
                        listItem.appendChild(copyButton);
                        couponList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error fetching coupons:', error));
        });
    </script>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/main.js"></script>
    </body>
    <script>
        document.querySelector('input[name="paymentMethod"][value="walletPayment"]').addEventListener('change', function () {
            const walletBalance = parseInt(document.getElementById('walletBalance').innerText)
            let totalAmount = document.getElementById('grandTotalPrice').innerText
            totalAmount = parseInt(totalAmount.split(' ')[1])
            console.log(walletBalance, totalAmount);
            if (this.checked) {
                if (walletBalance < totalAmount) {
                    const walletAlert = document.getElementById('walletAlert')
                    walletAlert.innerText = "You don't have much sufficient wallet balance rust of the money should payed by razorpay";
                    walletAlert.style = 'color:#c30e0eb0;'
                } else {
                    document.getElementById('walletAlert').innerText = "pay by wallet balance.";

                }
            }
        });

        document.getElementById("checkoutForm").addEventListener("submit", function (event) {
            event.preventDefault();
            let grandTotalPrice = parseFloat(document.getElementById('grandTotalPriceInput').value)
            const shippingCharge = parseInt(document.getElementById('shippingCharge').value)

            console.log(grandTotalPrice, shippingCharge);
            if (document.getElementById('razorpay').checked) {
                fetch('/create-order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        grandTotalPrice, shippingCharge
                    })
                })
                    .then(response => response.json())
                    .then(order => {
                        var options = {
                            "key": "rzp_test_j329lgmyv1688D",
                            "amount": grandTotalPrice,
                            "currency": "INR",
                            "name": "Hash Cart",
                            "description": "Your payment was successful. Thank you for your purchase!",
                            "image": "/assets/images/hashcart.jpeg",
                            "order_id": order.id,
                            "handler": function (response) {



                                const formData = new FormData(document.getElementById("checkoutForm"));
                                const jsonObject = {};
                                formData.forEach((value, key) => {
                                    jsonObject[key] = value;
                                });

                                jsonObject.paymentId = response.razorpay_payment_id;
                                jsonObject.paymentSignature = response.razorpay_signature;
                                jsonObject.paymentOrderId = response.razorpay_order_id;


                                fetch('/proceedCheckout', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(jsonObject)
                                })
                                    .then(response => response.json())
                                    .then(data => {

                                        window.location.href = '/orderPlace?orderId=' + data.orderId
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                            },
                            "prefill": {
                                "name": "Ajmal",
                                "email": "ajmal@example.com",
                                "contact": "9090909090"
                            },
                            "theme": {
                                "color": "#c96"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Failed to create order');
                    });
            } else if (document.getElementById('wallet').checked) {
                const walletBalance = parseInt(document.getElementById('walletBalance').innerText)
                let totalAmount = document.getElementById('grandTotalPrice').innerText
                totalAmount = parseInt(totalAmount.split(' ')[1])
                console.log(totalAmount,'heoioi');
                if (totalAmount > walletBalance) {
                    let grandTotalPrice = totalAmount
                    console.log(grandTotalPrice,'ahjsdf');
                    console.log(walletBalance,'lijsdf');
                     grandTotalPrice -= walletBalance
                    console.log(grandTotalPrice,'jksdbfia');
                    fetch('/create-order', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            grandTotalPrice, shippingCharge
                        })
                    })
                        .then(response => response.json())
                        .then(order => {
                            var options = {
                                "key": "rzp_test_j329lgmyv1688D",
                                "amount": grandTotalPrice,
                                "currency": "INR",
                                "name": "Hash Cart",
                                "description": "Your payment was successful. Thank you for your purchase!",
                                "image": "/assets/images/hashcart.jpeg",
                                "order_id": order.id,
                                "handler": function (response) {



                                    const formData = new FormData(document.getElementById("checkoutForm"));
                                    const jsonObject = {};
                                    formData.forEach((value, key) => {
                                        jsonObject[key] = value;
                                    });

                                    jsonObject.paymentId = response.razorpay_payment_id;
                                    jsonObject.paymentSignature = response.razorpay_signature;
                                    jsonObject.paymentOrderId = response.razorpay_order_id;
                                    fetch('/walletPayed', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({
                                            totalAmount, walletBalance
                                        })
                                    })
                                    fetch('/proceedCheckout', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(jsonObject)
                                    })
                                        .then(response => response.json())
                                        .then(data => {

                                            window.location.href = '/orderPlace?orderId=' + data.orderId
                                        })
                                        .catch(error => {
                                            console.error('Error:', error);
                                        });
                                },
                                "prefill": {
                                    "name": "Ajmal",
                                    "email": "ajmal@example.com",
                                    "contact": "9090909090"
                                },
                                "theme": {
                                    "color": "#c96"
                                }
                            };
                            var rzp1 = new Razorpay(options);
                            rzp1.open();
                        })
                } else {
                    fetch('/walletPayed', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            totalAmount, walletBalance
                        })
                    }).then(response => response.json())
                        .then(data => {
                            if (data.status) {
                                const formData = new FormData(document.getElementById("checkoutForm"));
                                const jsonObject = {};
                                formData.forEach((value, key) => {
                                    jsonObject[key] = value;
                                });
                                jsonObject.paymentId = 'wallet'
                                jsonObject.paymentSignature = 'wallet';
                                jsonObject.paymentOrderId = 'wallet';
                                fetch('/proceedCheckout', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(jsonObject)
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log(data, data.orderId);
                                        if (data.status) {
                                            window.location.href = '/orderPlace?orderId=' + data.orderId
                                        } else {
                                            Swal.fire({
                                                title: "Do Payment !",
                                                text: "Prices greater than 1000 cannot be paid as cash on delivery.",
                                                icon: "warning"
                                            });
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                            }
                        })
                }
            } else {
                const formData = new FormData(document.getElementById("checkoutForm"));
                const jsonObject = {};
                formData.forEach((value, key) => {
                    jsonObject[key] = value;
                });

                fetch('/proceedCheckout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonObject)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data, data.orderId);
                        if (data.status) {
                            window.location.href = '/orderPlace?orderId=' + data.orderId
                        } else {
                            Swal.fire({
                                title: "Do Payment !",
                                text: "Prices greater than 1000 cannot be paid as cash on delivery.",
                                icon: "warning"
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });

    </script>

    <script>
        function cancelCoupon(totalPrice, shippingCharge) {
            document.getElementById('couponTDcoupon').innerHTML = `<label for="checkout-discount-input" class="text-truncate">Have a coupon?
                            <span style="color: #c96;">Click here
                                to enter your code</span></label>`
            document.getElementById('couponTDprice').innerText = ""
            document.getElementById('grandTotalPrice').innerText = `${totalPrice + shippingCharge}`
            document.getElementById('grandTotalPriceInput').value = totalPrice
        }
        document.getElementById('apply-coupon-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const couponCode = document.getElementById('checkout-discount-input').value;
            const subTotalElement = document.getElementById('sub-total');
            const totalPriceText = subTotalElement.textContent || subTotalElement.innerText;
            const totalPrice = parseFloat(totalPriceText.replace(/[^\d.-]/g, ''));
            const id = document.getElementById('Id').value
            console.log(id);
            console.log('tP:' + totalPrice)
            fetch('/applyCoupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ coupon: couponCode, totalPrice: totalPrice, id })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const shippingCharge = parseInt(document.getElementById('shippingCharge').value)

                        document.getElementById('couponTDcoupon').innerHTML = `Coupon applied: <a href="#" onclick="cancelCoupon(${totalPrice},${shippingCharge})" style="color:#c96;">Click here to remove coupon</a>`;
                        document.getElementById('couponTDprice').innerText = "- ₹ " + data.couponDiscount;
                        document.getElementById('grandTotalPrice').innerText = "₹ " + (totalPrice - data.couponDiscount + shippingCharge);
                        document.getElementById('couponCode').value = data.couponCode
                        document.getElementById('grandTotalPriceInput').value = parseInt(totalPrice - data.couponDiscount) + shippingCharge
                        document.getElementById('checkout-discount-input').value = '';
                    } else {
                        Swal.fire('Failed to apply coupon: ' + data.message);
                        document.getElementById('checkout-discount-input').value = ''
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred while applying the coupon.');
                });
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    </html>