<%- include('../layouts/user/newHeader.ejs')%>
  <style>
    .buttonStyle {
      border: 1px solid #d5c9c9;
      padding: 0 40px;
      border-radius: 5%;
      background: transparent;
    }
  </style>
  <main>
    <div class="container pt-8">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-12 col-xl-8">
          <div class="" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
            <div class="card">
              <div class="card-header">
                <h4>Order Details</h4>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-8 mb-6">
                    <figure class="product-main-image">
                      <img id="product-zoom"
                        src="https://wpswings.com/wp-content/uploads/2023/10/order-tracking-stages.jpg"
                        data-zoom-image="<%=product.productImage[0]%>" alt="product image">

                      </a>
                    </figure><!-- End .product-main-image -->
                  </div>
                  <div class="col-md-6">

                    <div class="accordion  product-details-accordion" id="product-accordion">


                      <div class="card card-box card-sm">
                        <div class="card-header" id="product-info-heading">
                          <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-info"
                              aria-expanded="false" aria-controls="product-accordion-info"
                              style="background-color: transparent;">
                              Product Information
                            </a>
                          </h2>
                        </div><!-- End .card-header -->
                        <div id="product-accordion-info" class="collapse" aria-labelledby="product-info-heading"
                          data-parent="#product-accordion">
                          <div class="card-body">
                            <div class="product-desc-content">
                              <figure class="product-main-image">

                                <img id="product-zoom" src="<%=product.productImage[0]%>"
                                  data-zoom-image="<%=product.productImage[0]%>" alt="product image">

                              </figure><!-- End .product-main-image -->
                              <h3>
                                <%=product.productName%>
                              </h3>

                              <p>
                                <%=product.productDescription%>
                              </p>

                              <h3>Category : <%=product.productCategory%>
                              </h3>
                              <ul>

                                <%product.productTags.forEach(item=>{%>
                                  <li>
                                    <%=item%>
                                  </li>
                                  <%})%>

                              </ul>


                            </div><!-- End .product-desc-content -->
                          </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                      </div><!-- End .card -->


                      <div class="card card-box card-sm">
                        <div class="card-header" id="product-review-heading">
                          <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-review"
                              aria-expanded="false" aria-controls="product-accordion-review"
                              style="background-color: transparent;">
                              Reviews (2)
                            </a>
                          </h2>
                        </div><!-- End .card-header -->
                        <div id="product-accordion-review" class="collapse" aria-labelledby="product-review-heading"
                          data-parent="#product-accordion">
                          <div class="card-body">
                            <div class="reviews">
                              <div class="review">
                                <div class="row no-gutters">
                                  <div class="col-auto">
                                    <h4><a href="#">Samanta J.</a></h4>
                                    <div class="ratings-container">
                                      <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                      </div><!-- End .ratings -->
                                    </div><!-- End .rating-container -->
                                    <span class="review-date">6 days ago</span>
                                  </div><!-- End .col -->
                                  <div class="col">
                                    <h4>Good, perfect size</h4>

                                    <div class="review-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores
                                        assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis
                                        commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae
                                        voluptas!</p>
                                    </div><!-- End .review-content -->

                                    <div class="review-action">
                                      <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                      <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                    </div><!-- End .review-action -->
                                  </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                              </div><!-- End .review -->

                              <div class="review">
                                <div class="row no-gutters">
                                  <div class="col-auto">
                                    <h4><a href="#">John Doe</a></h4>
                                    <div class="ratings-container">
                                      <div class="ratings">
                                        <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                      </div><!-- End .ratings -->
                                    </div><!-- End .rating-container -->
                                    <span class="review-date">5 days ago</span>
                                  </div><!-- End .col -->
                                  <div class="col">
                                    <h4>Very good</h4>

                                    <div class="review-content">
                                      <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis
                                        laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas
                                        iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                    </div><!-- End .review-content -->

                                    <div class="review-action">
                                      <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                      <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                    </div><!-- End .review-action -->
                                  </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                              </div><!-- End .review -->
                            </div><!-- End .reviews -->
                          </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                      </div><!-- End .card -->
                      <div>
                        <div class="social-icons social-icons-sm">
                          <span class="social-label">Share:</span>
                          <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                              class="icon-facebook-f"></i></a>
                          <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                              class="icon-twitter"></i></a>
                          <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                              class="icon-instagram"></i></a>
                          <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                              class="icon-pinterest"></i></a>
                        </div>
                      </div><!-- End .product-details-footer -->
                    </div><!-- End .accordion -->
                  </div><!-- End .col-md-6 -->

                  <div class="col-md-6">
                    <div class="product-details sticky-content">
                      <div class="card card-box card-sm">
                        <div class="card-header" id="product-desc-heading">
                          <h2 class="card-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-desc"
                              aria-expanded="false" aria-controls="product-accordion-desc">
                              Address
                            </a>
                          </h2>
                        </div><!-- End .card-header -->

                        <div id="product-accordion-desc" class="collapse" aria-labelledby="product-desc-heading"
                          data-parent="#product-accordion">
                          <div class="card-body">
                            <div class="product-desc-content">
                              <div>
                                <%=order[0].shippingAddress.firstName%>
                                  <%=order[0].shippingAddress.lastName%> <br>
                                    <%=order[0].shippingAddress.address%> <br>
                                      <%=order[0].shippingAddress.country%> <br>
                                        <%=order[0].shippingAddress.state%> <br>
                                          <%=order[0].shippingAddress.city%> <br>
                                            <%=order[0].shippingAddress.district%> <br>
                                              <%=order[0].shippingAddress.landMark%> <br>
                                                pin <%=order[0].shippingAddress.pinCode%>

                              </div>
                              <div>
                                <%=order[0].shippingAddress.mobile%>
                                  <%=order[0].shippingAddress.mobile2%>
                              </div>

                            </div><!-- End .product-desc-content -->
                          </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                      </div><!-- End .card -->
                      <div class="card card-box card-sm">
                        <div class="card-header" id="product-shipping-heading">
                          <h2 class="card-title">
                            <a role="button" class="collapsed" data-toggle="collapse" href="#product-accordion-shipping"
                              aria-expanded="false" aria-controls="product-accordion-shipping">
                              Shipping & Returns
                            </a>
                          </h2>
                        </div><!-- End .card-header -->
                        <div id="product-accordion-shipping" class="collapse show"
                          aria-labelledby="product-shipping-heading" data-parent="#product-accordion">
                          <div class="card-body">
                            <div class="product-desc-content">
                              <p>We deliver to over 100 countries around the world. For full details of the
                                delivery options we offer, please view our <a id="tab-address-link" data-toggle="tab"
                                  href="#tab-addProduct" role="tab" aria-controls="tab-addProduct"
                                  aria-selected="false">Delivery
                                  information</a><br>
                                We hope you’ll love every purchase, but if you ever need to return an item you
                                can do so within a week of receipt. If you want to return these product click here
                                <a id="tab-address-link" data-toggle="tab" href="#tab-addProduct" role="tab"
                                  aria-controls="tab-addProduct" aria-selected="false">Return Form</a>
                              </p>
                            </div><!-- End .product-desc-content -->
                          </div><!-- End .card-body -->
                        </div><!-- End .collapse -->
                      </div><!-- End .card -->
                    </div><!-- End .product-details -->
                  </div><!-- End .col-md-6 -->
                </div><!-- End .row -->

              </div>
            </div>
          </div>
        </div>
        <div class="tab-content  col-md-4 col-lg-12 col-xl-4">
          <div class="tab-pane fade show active" id="tab-adfgdsroduct" role="tabpanel"
            aria-labelledby="tab-addsdess-link">
            <div class="card-body">
              <div class="reviews">
                <div class="review">
                  <div class="row no-gutters">
                    <div class="col-auto">
                      <h4><a href="#">Samanta J.</a></h4>
                      <div class="ratings-container">
                        <div class="ratings">
                          <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                      </div><!-- End .rating-container -->
                      <span class="review-date">6 days ago</span>
                    </div><!-- End .col -->
                    <div class="col">
                      <h4>Good, perfect size</h4>

                      <div class="review-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores
                          assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis
                          commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae
                          voluptas!</p>
                      </div><!-- End .review-content -->

                      <div class="review-action">
                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                      </div><!-- End .review-action -->
                    </div><!-- End .col-auto -->
                  </div><!-- End .row -->
                </div><!-- End .review -->

                <div class="review">
                  <div class="row no-gutters">
                    <div class="col-auto">
                      <h4><a href="#">John Doe</a></h4>
                      <div class="ratings-container">
                        <div class="ratings">
                          <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                      </div><!-- End .rating-container -->
                      <span class="review-date">5 days ago</span>
                    </div><!-- End .col -->
                    <div class="col">
                      <h4>Very good</h4>

                      <div class="review-content">
                        <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis
                          laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas
                          iure illum repellendus, blanditiis perspiciatis beatae!</p>
                      </div><!-- End .review-content -->

                      <div class="review-action">
                        <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                        <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                      </div><!-- End .review-action -->
                    </div><!-- End .col-auto -->
                  </div><!-- End .row -->
                </div><!-- End .review -->
              </div><!-- End .reviews -->
            </div><!-- End .card-body -->
          </div>



          <div class="tab-pane fade" id="tab-addProduct" role="tabpanel" aria-labelledby="tab-address-link">
            
              <form id="formData">
                <% if(returnDate.expireDate> returnDate.today){%>
                  <% let dateObject=new Date(returnDate.deliveredDate); let options={
                    weekday: 'short' , year: 'numeric' , month: 'short' , day: '2-digit'
                    }; let formattedDate=dateObject.toLocaleDateString('en-US',
                    options); %>
                    <div class="row align-items-center pl-5"><p style="margin: 0;">Delivered  date : </p> <h5 style="margin: 0;">&nbsp; <%=formattedDate%></h6></div>
                  <%dateObject=new Date(returnDate.expireDate); options={
                    weekday: 'short' , year: 'numeric' , month: 'short' , day: '2-digit'
                    }; formattedDate=dateObject.toLocaleDateString('en-US',
                    options); %>
                  <div class="row align-items-center pl-5"><p style="margin: 0;">last date for return : </p> <h5 style="margin: 0;">&nbsp; <%=formattedDate%></h6></div>
                <!-- <input type="hidden" value="<%= JSON.stringify(order[0])%>" name="order"> -->
                <input type="hidden" value="<%=order[0]._id%>" name="orderId">
                <input type="hidden" value="<%=order[0].product.productDetails._id%>" name="productId">
                <div class="card-body">
                  <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="fullName" required>
                  </div>
                  <div class="form-group">
                    <label>Mobile</label>
                    <input type="number" class="form-control" name="mobile" required>
                  </div>

                  <div class="form-group">
                    <label>Reason for Return:</label>
                    <select class="form-control" style="height: 3em;" name="reason">
                      <option value="defective">Defective Product</option>
                      <option value="wrongItem">Wrong Item Received</option>
                      <option value="notAsDescribed">Product Not as Described</option>
                      <option value="changedMind">Changed Mind</option>
                      <option value="betterPrice">Better Price Available</option>
                      <option value="lateArrival">Product Arrived Late</option>
                      <option value="quality">Quality Not Satisfactory</option>
                      <option value="notNeeded">Product Not Needed Anymore</option>
                      <option value="incorrectSize">Size/Dimensions Incorrect</option>
                      <option value="incorrectQuantity">Incorrect Quantity Received</option>
                      <option value="colorMismatch">Color/Style Mismatch</option>
                      <option value="allergicReaction">Allergic Reaction</option>
                      <option value="compatibility">Compatibility Issues</option>
                      <option value="duplicateItem">Received a Duplicate Item</option>
                      <option value="">Other</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <style>
                      table {
                        width: 100%;
                        border-collapse: collapse;
                      }

                      th,
                      td {
                        border: 1px solid transparent;
                        /* Fully transparent borders */
                        padding: 8px;
                        text-align: left;
                      }
                    </style>
                    <label>Details</label>
                    <table>
                      <tr>
                        <th>Product Actual Price</th>
                        <td>
                          <%=order[0].product.productDetails.productPrices.priceBefore%>
                        </td>

                      </tr>
                      <tr>
                        <th>Product Offerred Price</th>
                        <td>
                          <%=order[0].product.productDetails.productPrices.priceAfter%>
                        </td>
                      </tr>
                      <tr>
                        <th>Product Quantity</th>
                        <input type="hidden" value="<%=order[0].product.quantity%>" name="quantity">
                        <td>
                          <%=order[0].product.quantity%>
                        </td>

                      </tr>
                      <tr>
                        <th>Total Price Refund</th>
                        <td>
                          <%=order[0].product.productDetails.productPrices.priceAfter*order[0].product.quantity%>
                        </td>
                      </tr>
                      <script>
                        var rangeInput = document.getElementById('formControlRange');
                        var rangeValue = document.getElementById('rangeValue');

                        rangeValue.textContent = rangeInput.value + "%";

                        rangeInput.addEventListener('input', function () {
                          rangeValue.textContent = rangeInput.value + "%";
                        });
                      </script>
                    </table>

                  </div>
                  <div class=" text-center">
                    <button class="buttonStyle" type="submit" id="submitBtn">Submit</button>

                  </div>
              </form>
              <% }else{%>

                <div class="card">
                  <div class="card-header">
                    <h4>Out Of Return</h4>
                  </div>
                  <div class="card-body">
                    <div class="empty-state" data-height="400">
                      <div class="empty-state-icon">
                      </div>
                      <h2>We couldn't return this order <i class="
                    fas fa-exclamation"></i></h2>
                      <p class="lead">

                        We are really sorry ! You can't return this order you are out of the last day to return this
                        order.
                      </p>
                      <a href="#" class="mt-4 bb">Need Help?</a>
                    </div>
                  </div>
                </div>

                <%}%>
          </div>
        </div>
      </div>
    </div>


  </main>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/jquery.hoverIntent.min.js"></script>
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/superfish.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script>
    document.getElementById("formData").addEventListener("submit", function (event) {
      event.preventDefault();
      const formData = new FormData(document.getElementById("formData"));
      const jsonObject = {};
      formData.forEach((value, key) => {
        jsonObject[key] = value;
      });
      console.log(jsonObject);
      fetch('/returnOrder', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          jsonObject
        })
      }).then(response => response.json())
        .then(data => {
          console.log(data);

          if (data.status) {
            Swal.fire({
              icon: "success",
              title: "",
              text: "Your return order is successfully submited, refund amount will be added to your wallet within 3 business days.",
              footer: ''
            });
          }else{
            Swal.fire({
              icon: "error",
              title: "",
              text: "Already submit for return order",
              footer: ''
            });
          }
          document.getElementsByName('fullName')[0].value=''
          document.getElementsByName('mobile')[0].value=''


        })
    })
  </script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="assets/js/main.js"></script>